<!-- start custom head snippets -->
<!-- start favicons -->
<link rel="icon" href="/assets/favicons/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/assets/favicons/favicon-16x16.png" sizes="16x16" type="image/png" />
<link rel="icon" href="/assets/favicons/favicon-32x32.png" sizes="32x32" type="image/png" />
<link rel="icon" href="/assets/favicons/android-chrome-192x192.png" sizes="192x192" type="image/png" />
<link rel="icon" href="/assets/favicons/android-chrome-512x512.png" sizes="512x512" type="image/png" />
<link rel="apple-touch-icon" href="/assets/favicons/apple-touch-icon.png" />
<!-- end favicons -->

<!-- start search engins -->
<!-- start Baidu -->
<!-- NOTE: Please put the following code on one line to make the stupid parser work properly -->
<meta name="baidu-site-verification" content="{{ site.search_engines.baidu.site_verification }}" />
<!-- end Baidu -->
<!-- end search engins -->
<!-- end custom head snippets -->
